.user{
    border: 1px solid gray;
    padding: 50px;
    width: 200px;
    margin: 0 auto 20px;
    border-radius: 10px;
}

.user button{
    padding: 15px 35px;
    background-color: slateblue;
    border: none;
    color: white;
}